<table>
    <tr>
        <div class="header">Login</div>
    </tr>
    <tr>
        <div class="panel">
			<form [formGroup]="userForm" (ngSubmit)="login()">
				Email: <input type="text" formControlName="email"><br />
				<div class="error" *ngIf="userForm.email.errors?.required">E-mail is required!</div>
				<div class="error" *ngIf="userForm.email.errors?.pattern">E-mail is invalid!</div>
				<br />
				Password: <input type="text" formControlName="passw"><br />
				<div class="error" *ngIf="userForm.passw.errors?.required">Password is required!</div>
				<div class="error" *ngIf="userForm.passw.errors?.pattern">Password is invalid!</div>
				<br />
				<br />
				<br />
			</form>
			<button type="submit" [disabled]="!userForm.valid" class="ok">Login!</button><br />
        </div>
    </tr>
</table>
